.container {
    width: 100%;
    margin: 0 !important;
    font-family: monospace;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    padding: 10px 2%;
    margin: 0px !important;
    font-size: 20px;
    text-transform: uppercase;
    color: #0ccc8c;
    text-shadow: white 1px 1px;
    font-weight: bold;
    background-color: #d6d6d6;
    display: flex;
    justify-content: space-between;
}

.title p {
    margin: 0 !important;
}

.title a {
    font-size: 15px;
    text-transform: none !important;
    color: #0ccc8c;
    text-shadow: white 1px 1px;
    font-weight: bold;
    text-decoration: none;
}

.title a:hover {
    text-decoration: underline !important;
}

.content {
    margin-top: 5px;
    background-color: #d6d6d6;
    display: flex;
    justify-content: space-between;
}

.content p {
    margin: 0 !important;
}

.listMess {
    width: 20%;
    padding: 1% 0 0 0;
    border-right: 1px solid white;
    
}

.search_name {
    margin-bottom: 10px;
    padding-left: 10%;
    font-size: 12px !important;
    display: flex;
    align-items: center;
}

.search_name button {
    width: 20px;
    height: 20px;
    margin-left: 3px;
    background: url('https://cdn3.iconfinder.com/data/icons/feather-5/24/search-512.png') no-repeat;
    background-size: cover;
    font: 0/0 a;
    border: none;
}

.search_name input {
    padding: 2px 5px;
    border: none;
}

.search_name input:focus {
    outline: none;
}

.all_chat {
    width: 100%;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.2s ease-in-out;
}

.all_chat div:hover {
    background-color: silver;
}

/* width */
.all_chat::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.all_chat::-webkit-scrollbar-track {
    background: white; 
}

/* Handle */
.all_chat::-webkit-scrollbar-thumb {
    background: #d6d6d6; 
}

/* Handle on hover */
.all_chat::-webkit-scrollbar-thumb:hover {
    background: #c7c7c7; 
}

.listMess p {
    font-size: 14px;
    font-weight: 700;
    color: #0ccc8c;
}

.chat_selected {
    background-color: silver !important;
    width: 300px;
    display: block !important;
    padding: 5px 0;
    margin-left: 10%;
    border-bottom: 1px solid white;
    transition: 0.2ms ease-in-out;
}

.chat_default {
    width: 300px;
    display: block !important;
    padding: 5px 0;
    margin-left: 10%;
    border-bottom: 1px solid white;
    transition: 0.2ms ease-in-out;
}

.detail {
    width: 80%;
    padding: 1% 1% 0 2%;
}

.detail .username {
    padding: 5px 0 15px 0;
    font-size: 20px;
    font-weight: 700;
    color: #0ccc8c;
    border-bottom: 1px solid white;
}

.detail .body {
    height: 60vh;
    padding: 15px;
    border-radius: 0 0 16px;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

/* width */
.body::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.body::-webkit-scrollbar-track {
    background: white; 
}

/* Handle */
.body::-webkit-scrollbar-thumb {
    background: #d6d6d6; 
}

/* Handle on hover */
.body::-webkit-scrollbar-thumb:hover {
    background: #c7c7c7; 
}

.body {
    flex-direction: column-reverse;
}

.body .received {
    margin-bottom: 2px;
    padding: 2px;
}

.body .received span {
    padding: 5px 10px;
    margin-bottom: 2px;
    background-color: #d6d6d6;
    border-radius: 16px 16px 16px 0;
}

.body .sent {
    padding: 2px;
    display: flex;
    justify-content: flex-end;
}

.body .sent span {
    padding: 5px 10px;
    background-color: #0ccc8c;
    border-radius: 16px 0 16px 16px;
}

.send {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send input {
    width: 30%;
    padding: 4px 10px;
    border: 1px solid white;
}

.send input:focus {
    outline: #0ccc8c;
}

.send button {
    margin-left: 10px;
    padding: 4px 8px;
    color: white;
    border: 1px solid #0ccc8c;
    background-color: #0ccc8c;
    border-radius: 4px;
}

.footer {
    margin-top: 5px;
    padding: 5px 15px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    background-color: #d6d6d6;
    color: #0ccc8c;
    text-shadow: white 1px 2px;
    font-family: monospace;
}