.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header {
    padding: 10px;
    font-family: monospace;
    background-color: #0ccc8c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.header a:first-child:hover {
    text-decoration: underline;
}

.header a[href = '/'] {
    font-size: 25px;
    font-weight: bold;
    text-shadow: #d6d6d6 1px 1px;
}

.content {
    margin: 10px;
    padding: 10px;
    border: 1px solid #0ccc8c;
    display: flex;
    justify-content: space-between;
    transition: 0.2s ease-in-out;
    font-family: monospace;
}

.avt {
    padding: 10px;
}

.avt div {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.avt input {
    font-size: 13px;
}

.avt img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #0ccc8c;
}

.select_avt {
    width: 220px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    position: relative;
}

.select_avt button {
    background-color: #0ccc8c;
    border-radius: 4px;
    border: 1px solid #0ccc8c;
    color: white;
    padding: 5px;
}

.select_avt button:hover {
    background-color: white;
    color: #0ccc8c;
}

.list_avt {
    width: 306px;
    border: 1px solid #0ccc8c;
    position: absolute;
    top: 0px;
    right: -250px;
    z-index: 9;
}

.list_avt_hide {
    display: none;
}

.list_avt div {
    width: 100px;
    height: 100px;
    border: 1px solid #0ccc8c;
    float: left;
    font: 0/0 a;
}

.img1 {
    background: url('https://i.pinimg.com/564x/2b/0f/7a/2b0f7a9533237b7e9b49f62ba73b95dc.jpg') no-repeat;
    background-size: cover;
}

.img2 {
    background: url('https://chiemtaimobile.vn/images/companies/1/%E1%BA%A2nh%20Blog/avatar-facebook-dep/Anh-avatar-hoat-hinh-de-thuong-xinh-xan.jpg?1704788263223') no-repeat;
    background-size: cover;
}

.img3 {
    background: url('https://cdn.sforum.vn/sforum/wp-content/uploads/2023/11/avatar-dep-107.jpg') no-repeat;
    background-size: cover;
}

.img4 {
    background: url('https://hoanghamobile.com/tin-tuc/wp-content/uploads/2023/07/avatar-dep-4.jpg') no-repeat;
    background-size: cover;
}

.img5 {
    background: url('https://gcs.tripi.vn/public-tripi/tripi-feed/img/474103Wsh/hinh-avatar-dep-1.jpg') no-repeat;
    background-size: cover;
}

.img6 {
    background: url('https://kiemtientuweb.com/ckfinder/userfiles/images/avatar-fb/avatar-fb-1.jpg') no-repeat;
    background-size: cover;
}

.list_avt div:hover {
    opacity: 0.3;
}

.infor {
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
}

.about, .health {
    color: #0ccc8c;
    font-weight: 600;
}

.tbl {
    margin-bottom: 10px;
}

.tbl input {
    padding: 2px 5px;
    border: 1px solid #0ccc8c;
    outline: #0ccc8c;
}

.tbl input[type="text"], .tbl input[type="email"] {
    width: 250px;
}

.tbl tr td{
    padding: 10px 0;
}

.tr3 td:last-child {
    display: flex;
    align-items: center;
}

.tr3 input[type="radio"] {
    margin-right: 7px;
}

.tr3 label {
    margin-right: 15px;
}

.tr3 input[type="text"] {
    width: 100px;
    background-color: white;
}

.tr3 input[type="text"]::placeholder {
    color: black;
}

.tbl input[type="number"], .tbl select {
    width: 100px;
}

.tbl select {
    border: 1px solid #0ccc8c;
}

.btn {
    display: flex;
    align-items: center;
}

.btn button {
    width: auto;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}

.btn button:first-child {
    border: 1px solid #0ccc8c;
    background-color: #0ccc8c;
    margin-right: 15px;
}

.btn button:first-child:hover {
    background-color: white;
    color: #0ccc8c;
}

.btn button:last-child {
    border: 1px solid gray;
    background-color: gray;
}

.btn button:last-child:hover {
    background-color: white;
    color: gray;
}

.footer {
    margin-top: 10px;
    padding: 2px;
    line-height: 1.2;
    text-align: center;
    background-color: #0ccc8c;
    font-size: 13px;
    color: white;
    font-family: monospace;
}