.search {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 15px;
    position: relative;
}   

.search input[type="text"] {
    width: 300px;
    padding: 5px;
    background-color: white;
    border: 1px solid #0ccc8c;
    border-radius: 4px;
}

.search input[type="text"]:focus {
    outline: #0ccc8c;
}

.search button {
    background-color: #0ccc8c;
    color: white;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #0ccc8c;
    font-weight: bold;
}

.search button:hover {
    background-color: white;
    color: #0ccc8c;
}

.search button[type="submit"] {
    margin: 0 10px;
}

.search button i {
    padding: 0 5px;
}

.tbl {
    border: 1px solid #0ccc8c;
    border-radius: 4px;
    margin: 10px 0;
    background-color: white;
}

.tbl table {
    width: 100%;
}

.tbl th {
    background-color: #0ccc8c;
    color: white;
    padding: 10px 0;
}

.tbl tr:nth-of-type(even) {
    background-color: #dcfdff;
}

.tbl tr td {
    padding: 10px 0;
}

.td2, .td3, .td6 {
    text-align: left !important;
}

.td1, .td4, .td5 {
    text-align: center !important;
}

.tbl tr:hover {
    background-color: #f3e6ff;
}

.index_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_list div p {
    width: 30px;
    height: 30px;
    padding-top: 6px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #0ccc8c;
    color: #0ccc8c;
    margin: 0 3px; 
    transition: 0.2s;
}

.index_list div p:hover {
    background-color: #0ccc8c;
    color: white;
}

.index_now p {
    background-color: #0ccc8c !important;
    color: white !important;
}

.index_default p {
    background-color: white;
    color: #0ccc8c;
}

.search_result {
    display: block;
}

.hide_result {
    display: none;
}

.advanced_search {
    width: 400px;
    height: 400px;
    padding: 5px 10px;
    border: 1px solid #0ccc8c;
    position: absolute;
    background-color: white;
    top: 40px;
    right: 0;
}

.advanced_search h4 {
    font-weight: 550;
}

.item_search > div {
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.item_search input[type="number"] {
    border: 1px solid #0ccc8c;
    width: 50px;
    padding: 2px;
    border-radius: 4px;
    margin: 0 10px 0 5px;
}

.item_search select {
    border: 1px solid #0ccc8c;
    border-radius: 4px;
    margin-left: 5px;
    padding: 2px;
}

.item_search > div div {
    display: flex;
    align-items: center;
}

.gender div {
    margin-left: 15px;
}

.gender div p {
    margin-left: 5px;
}

.phone, .city {
    display: flex;
    justify-content: space-between;
}

.phone input, .city input {
    width: 85% !important;
}

.btn_apply {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
   