.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    background-color: #d6d6d6;
    padding: 10px;
    margin-bottom: 5px;
}

.title a {
    color: #0ccc8c;
    text-shadow: white 1px 2px;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    text-decoration: none;
}

.title a:hover {
    color: #7c7c7c;
}

.content {
    height: 100%;
    padding: 0px 0px 10px 0px !important;
    margin: 0 !important;
    display: flex;
    background-color: #d6d6d6;
    font-family: monospace;
    line-height: 1.2;
    font-size: 14px;
}

.avt {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.avt div {
    height: 97%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.avt img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #0ccc8c;
}

.infor {
    width: 73%;
    height: 100%;
    padding-top: 10px;
}

.about {
    padding: 1px 10px;
    font-size: 20px ;
    font-weight: bold;
    color: #0ccc8c;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.about div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.about div button{
    border: 1px solid white;
    padding: 5px;
    color: white;
    background-color: #0ccc8c;
    margin-left: 5px;
}

.about div button a {
    color: white;
    text-decoration: none;
}

.about div button:hover {
    background-color: white;
    color: #0ccc8c;
    border: 1px solid #0ccc8c;
}

.about div button:hover a {
    color: #0ccc8c;
}

.name, .health {
    padding: 1px 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
}

.tbl {
    width: 100%;
    margin: 2px 0;
    padding: 10px;
    background-color: white;
}

.footer {
    margin-top: 5px;
    padding: 5px 15px;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    background-color: #d6d6d6;
    color: #0ccc8c;
    text-shadow: white 1px 2px;
    font-family: monospace;
}