.tbl {
    border: 1px solid #0ccc8c;
    border-radius: 4px;
    margin: 10px 0;
    background-color: white;
    opacity: 98%;
}

.tbl table {
    width: 100%;
}

.tbl th {
    background-color: #0ccc8c;
    color: white;
    padding: 10px 0;
}

.tbl tr:nth-of-type(odd) {
    background-color: #dcfdff;
}

.tbl tr td {
    padding: 10px 0;
}

.td2, .td3, .td6 {
    text-align: left !important;
}

.td1, .td4, .td5 {
    text-align: center !important;
}

.tbl tr:hover {
    background-color: #f3e6ff;
}

.index_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_list div p {
    width: 30px;
    height: 30px;
    padding-top: 6px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #0ccc8c;
    color: #0ccc8c;
    margin: 0 3px; 
    transition: 0.2s;
}

.index_list div p:hover {
    background-color: #0ccc8c;
    color: white;
}

.index_now p {
    background-color: #0ccc8c !important;
    color: white !important;
}

.index_default p {
    background-color: white;
    color: #0ccc8c;
}

@media only screen and (max-width: 850px) {
    .tbl {
        width: 100%;
        font-size: 10px !important;
        overflow: auto !important;
    }

    .index_list {
        width: 100%;
        font-size: 10px !important;
        overflow: auto !important;
    }
}