@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: monospace;
}

body {
  background: url('https://i.ytimg.com/vi/CQw8Lfu4SVM/maxresdefault.jpg') no-repeat;
  background-size: cover;
}