.logo {
    width: 100%;
    padding:10px 10%;
    border-bottom: 1px solid #0ccc8c;
    display: flex;
    justify-content: space-between;
}

.logo > a {
    font-size: 40px;
    font-weight: bold;
    color: #0ccc8c;
    text-shadow: white 1px 1px;
}

.logo > div {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.logo > div span, .logo > div ad {
    font-size: 20px !important;
    font-weight: bold;
    color: white;
    text-shadow: #0ccc8c 1px 1px;
}

.logo > div p {
    margin-left: 5px;
    font-size: 20px;
    color: #0ccc8c;
    text-shadow: white 1px -1px;
}

.logo > div:hover > p {
    transform: rotate(180deg);
    transition: 0.8s !important;
}

.logo > div:hover .private_menu {
    display: block !important;
}

.private_menu {
    width: 200px;
    display: none !important;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 50;
}

.private_menu a {
    font-size: 15px;
    font-weight: 500 !important;
    color: #0ccc8c !important;
    text-shadow: none !important;
}

.private_menu p:last-child {
    margin-top: 12px;
    border-top: 1px solid #0ccc8c;
}

.private_menu p:last-child a {
    color: gray !important;
}

.private_menu p a:hover {
    color: #419abd !important;
}

.menu {
    margin: 0 10%;
    display: flex;
    justify-content: flex-end;
}

.menu li {
    margin: 20px 2px 0px 2px;
    padding: 5px 10px;
    font-size: 18px;   
    font-weight: bold;
    border: 2px solid #0ccc8c;
    border-radius: 4px;
    transition: 0.2s;
}

.menu li:hover {
    color: #0ccc8c;
    background-color: white;
}

.tab_default {
    color: white;
    background-color: #0ccc8c;
}

.tab_now {
    color: #0ccc8c;
    background-color: white;
}
