.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: white !important;
    transition: 0.2ms ease-in-out;
}

.bg {
    width: 65vw;
    height: 100vh;
    background: url('https://kenh14cdn.com/2016/photo-2-1483034775749.jpg') no-repeat;
    background-size: cover;
    font: 0/0 a;
}

.div_login {
    width: 35vw;
    margin: 0;
    padding: 5% 2%;
    border: 2px solid #0ccc8c;
    background-color: white;
    position: relative;
}

.title {
    margin-bottom: 15%;
    text-align: center;
}

.title h3 {
    font-size: 30px;
    color: #0ccc8c;
    font-weight: 900;
}

.form_login {
    margin-top: 20px;
}

.form_login p {
    font-size: 15px;
    font-weight: 600;
}

.form_login div {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_login input {
    width: 75%;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #0ccc8c;
}

.form_login input:focus {
    outline: #0ccc8c;
}

.forget_pass {
    display: flex !important;
    justify-content: flex-end !important;
}

.forget_pass a {
    color: #707070;
}

.forget_pass a:hover {
    color: #0ccc8c;
}

.form_login button {
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    background-color: #0ccc8c;
    border-radius: 4px;
    border: 1px solid #0ccc8c;
}

.form_login button:hover {
    color: #0ccc8c;
    background-color: white;
}

.btn {
    display: flex;
    justify-content: center !important;
}

.credit {
    font-style: italic;
    color: #0ccc8c;
    position: absolute;
    bottom: 10px;
    right: 5%;
}